extends ../layout 
block content 
  h1 Create New TKB
  form(action=`/tkb/create`, method='post')
    div 
      label(for='gradeid') ID:
      input#id(type='text' name='tkbID')
    div 
      label(for='time1') Buổi 1:
      select#time1(name="time1")
        option Select time
        option(value="Thứ 2") Thứ 2
        option(value="Thứ 3") Thứ 3
        option(value="Thứ 4") Thứ 4
        option(value="Thứ 5") Thứ 5
        option(value="Thứ 6") Thứ 6
        option(value="Thứ 7 - 1") Thứ 7 - 1
        option(value="Thứ 7 - 2") Thứ 7 - 2
        option(value="Thứ 7 - 3") Thứ 7 - 3
        option(value="Thứ 7 - 4") Thứ 7 - 4
        option(value="Chủ nhật - 1") Chủ nhật - 1
        option(value="Chủ nhật - 2") Chủ nhật - 2
        option(value="Chủ nhật - 3") Chủ nhật - 3
        option(value="Chủ nhật - 4") Chủ nhật - 4
    div 
      label(for='time2') Buổi 2:
      select#time2(name="time2")
        option select time
        option(value="Thứ 2") Thứ 2
        option(value="Thứ 3") Thứ 3
        option(value="Thứ 4") Thứ 4
        option(value="Thứ 5") Thứ 5
        option(value="Thứ 6") Thứ 6
        option(value="Thứ 7 - 1") Thứ 7 - 1
        option(value="Thứ 7 - 2") Thứ 7 - 2
        option(value="Thứ 7 - 3") Thứ 7 - 3
        option(value="Thứ 7 - 4") Thứ 7 - 4
        option(value="Chủ nhật - 1") Chủ nhật - 1
        option(value="Chủ nhật - 2") Chủ nhật - 2
        option(value="Chủ nhật - 3") Chủ nhật - 3
        option(value="Chủ nhật - 4") Chủ nhật - 4
    div 
      input(type="submit", value='Tạo Khối mới')
