extends ../layout
block content
  h1 
    a(href="/grade/create") Tạo Khối lớp
  h1 Danh sách Khối
  table 
    thead
      th Grade ID
      th Tên
      th Thao tác 
    tbody 
      each g in grades
        tr 
          td= g.gradeID 
          td= g.name  
          td
            a(href=`/grade/update/${g._id}`) Cập Nhật 
            br
            a(href=`/grade/delete/${g._id}`) Xóa    